/* MOBILE */

/* HEADER */
.header__message {
  background-color: #D7B97C;
  color: #FFFFFF;
  margin: 0%;
  padding: 1rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.header__title {
  margin-top: 1rem;
  font-family: 'Oswald', sans-serif;
}

.header__message-2 {
  font-family: 'Roboto', sans-serif;
}
/* END OF HEADER */

/* NAVBAR */
.navbar {
  font-family: 'Roboto', sans-serif;
}

.navbar__logo {
  width: 5rem;
}

.navbar__link {
  color: #FFFFFF !important;
}

.navbar__link--active {
  color: #D7B97C !important;
}

.navbar__link:hover {
  filter: brightness(90%);
}

.navbar__button {
  border: none;
  background-color: #D87C5E;
  color: #FFFFFF;
  border-radius: 0.188rem;
  padding: 0.4rem;
  margin-top: 1rem;
}
/* END OF NAVBAR */

/* DIVIDER */
.divider {
  text-align: center;
}

.divider__img {
  width: 5rem;
  height: 4rem;
  margin: 2rem 0rem;
}
/* END OF DIVIDER */

/* INTRODUCTION */
.introduction__img {
  width: 100%;
  margin: 1.5rem 0rem;
}

.introduction {
  font-family: 'Roboto', sans-serif;
}
/* END OF INTRODUCTION */

/* END OF MOBILE*/

/*
X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* HEADER */
  .header {
    height: 40rem;
    background-image: url("../img/header-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: #FFFFFF;
  }

  .header__title {
    width: 35.313rem;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 6.5rem;
  }

  .header__message {
    font-weight: 600;
  }

  .header__message-2 {
    font-size: 1.875rem;
  }
  /* END OF HEADER */

  /* NAVBAR */
  .navbar {
    background-color: transparent !important;
    padding: 1rem;
  }

  .navbar__collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__button {
    margin-top: 0%;
    margin-left: 0.5rem;
  }

  .navbar__link-icon {
    margin: 0rem 0.2rem;
  }
  /* END OF NAVBAR */

  /* INTRODUCTION */
  .introduction {
    margin-top: 6rem;
  }

  .introduction__img {
    margin: 0%;
  }

  .introduction__img--1 {
    width: 30rem;
    height: 50rem;
  }

  .introduction__img--2 {
    height: 25.938rem;
    width: 25.625rem;
  }

  .introduction__info-1 {
    margin-top: 6rem;
  }
  /* END OF INTRODUCTION */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* HEADER */
  .header {
    height: 46.875rem;
  }
  
  .header__title {
    width: 35.313rem;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10rem;
  }
  /* END OF HEADER */

  /* INTRODUCTION */
  .introduction__img--1 {
    width: 35rem;
    height: 48rem;
  }
  /* END OF INTRODUCTION */
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }