/* MOBILE FIRST */

/* HEADER */
.header__message {
  background-color: #D7B97C;
  color: #FFFFFF;
  margin: 0%;
  padding: 1rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.header__title {
  margin-top: 1rem;
  font-family: 'Oswald', sans-serif;
}

.header__message-2 {
  font-family: 'Roboto', sans-serif;
}
/* END OF HEADER */

/* NAVBAR */
.navbar {
  font-family: 'Roboto', sans-serif;
}

.navbar__logo {
  width: 5rem;
}

.navbar__link {
  color: #FFFFFF !important;
}

.navbar__link--active {
  color: #D7B97C !important;
}

.navbar__link:hover {
  filter: brightness(90%);
}

.navbar__button {
  border: none;
  background-color: #D87C5E;
  color: #FFFFFF;
  border-radius: 0.188rem;
  padding: 0.4rem;
  margin-top: 1rem;
}
/* END OF NAVBAR */

/* DIVIDER */
.divider {
  text-align: center;
}

.divider__img {
  width: 5rem;
  height: 4rem;
  margin: 2rem 0rem;
}
/* END OF DIVIDER */

/* DIVIDER LINE */
.divider-line {
  text-align: center;
  position: relative;
  margin-top: 3rem;
}

.divider-line__img-1 {
  width: 5rem;
  height: 4rem;
  margin: 2rem 0rem;
}

.divider-line__img-2 {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
/* END OF DIVIDER LINE */

/* INTRODUCTION */
.introduction__img {
  width: 100%;
  margin: 1.5rem 0rem;
}

.introduction {
  font-family: 'Roboto', sans-serif;
  color: #717171;
}
/* END OF INTRODUCTION */

/* DEPARTMENTS */
.departments {
  margin-top: 6rem;
}

.departments__description {
  margin-top: 1.5rem;
  color: #717171;
}

.departments__title-container {
  width: 100%;
}

.departments__title-container div {
  width: max-content;
  position: relative;
}

.departments__icon {
  width: 2.3rem;
  position: absolute;
  top: -1rem;
  right: -2.4rem;
}

.department-card {
  margin-bottom: 3rem;
}

.card__img {
  width: 100%;
}

.card__icon-container {
  margin-top: 2rem;
  position: relative;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon {
  width: 3.313rem;
  height: 3.313rem;
}

.card__icon--2 {
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.card__title {
  color: #F3AA0A;
  font-weight: bold;
  font-size: 1.1rem;
}

.card__subtitle {
  color: #8D5C30;
  font-weight: bold;
  font-size: 1.1rem;
}

.card__description {
  color: #717171;
}

.card__things {
  display: flex;
}

.card__thing {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.8rem;
}

.card__things-container {
  display: flex;
  margin-right: 2rem;
}
/* END OF DEPARTMENTS */

/* AMENITIES */
.carousel__img {
  width: 2.729rem;
  height: 2.031rem;
}
/* END OF AMENITIES */

/* LOCATION */
.location {
  color: #717171;
  font-family: 'Roboto', sans-serif;
}

.location__title-container {
  width: 100%;
}

.location__title-container div {
  width: max-content;
  position: relative;
}

.location__icon {
  width: 2.3rem;
  position: absolute;
  top: -1rem;
  right: -2.4rem;
}

.location__p1 span {
  color: #8D5C30;
  font-weight: bold;
}

.location__img, .location__img-2{
  width: 100%;
}
.location__img-container {
  position: relative;
}

.location__img {
  position: absolute;
  z-index: 1;
  top: 4%;
  right: 4%;
}

.location__img-2 {
  z-index: -1;
}
/* END OF LOCATION */

/* EXTRA IMG */
.carousel__extra-img {
  margin-top: 3rem;
}
/* END OF EXTRA IMG */

/* DATE */
.date {
  width: 100%;
  margin-top: 6rem;
  position: relative;
}

.date__title {
  color: #8D5C30;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.date__info {
  color: #FFFFFF;
  margin: 1rem 0rem;
  font-family: 'Roboto', sans-serif;
}

.date__title, .date__info {
  text-align: center;
}

.date__form {
  background-color: #D7B97C;
  padding: 1rem;
}

.date__input-container-1 {
  display: flex;
  flex-direction: column;
}

.date__input, .date__select, .date__textarea {
  background-color: #FFFFFF;
  border: none;
}

.date__input, .date__select, .date__textarea, .date__g-recaptcha {
  margin: 0.4rem 0rem;
  padding: 0.4rem;
}

.date__textarea {
  resize: none;
  padding: 0.8rem;
}

.date__g-recaptcha  {
  margin: auto;
}

.date__btn {
  width: 90%;
  background-color: #D87C5E;
  color: #FFFFFF;
  margin-top: 1rem;
}
/* END OF DATE */

/*
X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* HEADER */
  .header {
    height: 40rem;
    background-image: url("../img/header-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: #FFFFFF;
  }

  .header__title {
    width: 35.313rem;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 6.5rem;
  }

  .header__message {
    font-weight: 600;
  }

  .header__message-2 {
    font-size: 1.875rem;
  }
  /* END OF HEADER */

  /* NAVBAR */
  .navbar {
    background-color: transparent !important;
    padding: 1rem;
  }

  .navbar__collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__button {
    margin-top: 0%;
    margin-left: 0.5rem;
  }

  .navbar__link-icon {
    margin: 0rem 0.2rem;
  }
  /* END OF NAVBAR */

  /* INTRODUCTION */
  .introduction {
    margin-top: 6rem;
  }

  .introduction__img {
    margin: 0%;
  }

  .introduction__img--1 {
    width: 30rem;
    height: 50rem;
  }

  .introduction__img--2 {
    height: 25.938rem;
    width: 25.625rem;
  }

  .introduction__info-1 {
    margin-top: 6rem;
  }
  /* END OF INTRODUCTION */

  /* DEPARTMENTS */
  .departments__title-container {
    display: flex;
    justify-content: center;
  }

  .departments__title {
    font-size: 3.75rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #8D5C30;
  }

  .departments__icon {
    top: -1rem;
    right: -2rem;
  }

  .departments__description {
    text-align: center;
    margin-bottom: 3rem;
  }

  .card__icon-container {
    margin-top: 0rem;
  }

  .card__img {
    height: 100%;
  }
  
  /* END OF DEPARTMENTS */

  /* LOCATION */
  .location {
    margin-top: 6rem;
  }

  .location__title {
    font-size: 3.75rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #8D5C30;
    margin-bottom: 2rem;
  }

  .location__icon {
    top: -1rem;
    right: -2rem;
  }

  .location__p1 {
    margin-bottom: 2rem;
  }
  /* END OF LOCATION */

  /* EXTRA IMG */
  .extra-img {
    margin-top: 8rem;
    margin-bottom: 10rem;
    width: 100%;
  }

  .extra-img__img {
    width: 20rem;
    height: 20rem;
  }

  .extra-img__img-container, .extra-img {
    position: relative;
  }

  .extra-img__img-container {
    display: flex;
  }

  .extra-img__bg-extra {
    width: 1000px;
    height: 24.5rem;
    position: absolute;
    z-index: -1;
    top: 20%;
    right: 0%;
    background-color: #F2F2F2;
  }

  .extra-img__img {
    margin-bottom: 0rem;
    z-index: 1;
  }
  /* END OF EXTRA IMG */

  /* DATE */
  .date__title {
    font-size: 3.75rem;
  }
  .date__bg-date {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }

  .date__form {
    width: 75%;
    position: absolute;
    right: 0%;
    margin-top: 5rem;
    height: 36.188rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .date__input, .date__select, .date__textarea, .date__g-recaptcha {
    margin: 0.5rem;
    /* padding: 0.4rem; */
  }
  /* END OF DATE */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* HEADER */
  .header {
    height: 46.875rem;
  }
  
  .header__title {
    width: 35.313rem;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10rem;
  }
  /* END OF HEADER */

  /* INTRODUCTION */
  .introduction__img--1 {
    width: 35rem;
    height: 48rem;
  }
  /* END OF INTRODUCTION */

  /* EXTRA IMG */
  .extra-img__img {
    width: 27.063rem;
    height: 24.5rem;
  }
  /* END OF EXTRA IMG */

  /* DATE */
  .date__form {
    width: 60%;
  }
  /* END OF DATE */
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }